.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.toolbar button {
  flex: 1;
  padding: 5px;
  background: whitesmoke;
}

.input {
  display: flex;
  flex-direction: row;
}

.output {
  display: flex;
  flex-direction: column;
}

.output canvas {
  max-width: 100%;
  margin-top: 30px;
}

#image-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container canvas {
  width: 100%;
}

.input-container h2 {
  margin: 0;
  position: absolute;
  color: white;
  text-shadow: 0 1px 2px #000;
}
