html, body, .main {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: row;
}

#image-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container h2 {
  margin: 0;
  position: absolute;
  color: white;
  text-shadow: 0 1px 2px #000;
}
